@use "sass:map";
@import "base";

$enable-rounded: true !default;
$enable-shadows: true;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;

// Variables
//
// Colors

$colors: (
  primary: #ec8327,
  secondary: #1ab596,
  tertiary: #4e71b5,
  black: #2b2a2a,
  white: lightgray,
);

$body-bg: white;
$body-color: #333;

$body-color-inverse: invert($body-color) !default;
$link-color: #12bbad;

// Fonts
$font-family-base: Tahoma, Geneva, sans-serif;
$headings-font-family: $font-family-base;
$display-font-family: $font-family-base;
$font-weight-normal: 200;
$headings-font-weight: 200;
$lead-font-size: 1.3rem;

$spacer: 1.5rem;

.foto {
  border-radius: 1.5rem;
  border-style: solid;
  border-left-width: 10px;
  border-right-width: 10px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-color: map-get($map: $colors, $key: "white");
}
.title {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border-width: 0rem 0rem 0rem 1rem;
  padding-left: 1rem;
  border-style: solid;
  border-color: map-get($map: $colors, $key: "secondary");
  font-size: 4.5rem;
}
.left-side {
  color: #ccc;
  font-size: large;
  font-weight: bold;
  background-color: #2b2a2a;
  border-left-width: 0px;
  border-top-width: 0rem;
  border-bottom-width: 0rem;
  border-right-width: 1rem;
  border-style: solid;
  border-color: map-get($map: $colors, $key: "secondary");
  min-height: 100%;
  .heading {
    color: lightgray;
    font-weight: bold;
    border-left-width: 0rem;
    border-right-width: 0rem;
    border-top-width: 0rem;
    border-bottom-width: 0.2rem;
    border-style: solid;
    border-color: #ec8327;
  }
  .row {
    .col-md-7 {
      font-weight: 200;
      letter-spacing: 0.1rem;
    }
  }
}
.right-side {
  background-color: #ccc;
  border-left-width: 2rem;
  border-bottom-width: 0rem;
  border-top-width: 0rem;
  border-right-width: 0rem;
  border-style: solid;
  border-color: #ec8327;
  .heading {
    font-weight: bold;
    padding-left: 0.5rem;
    border-left-width: 0.5rem;
    border-right-width: 0rem;
    border-top-width: 0rem;
    border-bottom-width: 0rem;
    border-style: solid;
    border-color: #4e71b5;
  }
  .sub-content {
    margin-left: 1rem;
    .d-flex {
      margin-bottom: 1rem;
    }
    .col-md-5 {
      margin-left: 1rem;
      margin-bottom: 1rem;
      border-width: 0rem 0rem 0rem 0.3rem;
      border-style: solid;
      border-color: map-get($map: $colors, $key: "secondary");
    }
  }
}
.skill-level {
  padding-left: 1rem;
  padding-right: 1rem;
}
.skill-level-low {
  border-width: 0rem 0rem 0.4rem 0rem;
  border-style: solid;
  border-color: #ec8327;
}
.skill-level-mdr {
  border-width: 0rem 0rem 0.4rem 0rem;
  border-style: solid;
  border-color: map-get($map: $colors, $key: "secondary");
}
.skill-level-skld {
  border-width: 0rem 0rem 0.4rem 0rem;
  border-style: solid;
  border-color: #4e71b5;
}

.border-left-green {
	border-left: solid 0.3rem map-get($map: $colors, $key: "secondary");
}

.experience {
	.icon {
		height: 1.5em;
    width: auto;
	}
}